Import relevant libraries

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load dataset

In [18]:
penguins_data = pd.read_csv("penguins_size.csv")

Subset for relevant columns

In [19]:
penguins_data = penguins_data[['species','culmen_length_mm','sex']]

Inspect first 5 rows and data types of the dataset

In [20]:
penguins_data.head()

  species  culmen_length_mm     sex
0  Adelie              39.1    MALE
1  Adelie              39.5  FEMALE
2  Adelie              40.3  FEMALE
3  Adelie               NaN     NaN
4  Adelie              36.7  FEMALE

In [21]:
penguins_data.shape

(344, 3)

In [22]:
penguins_data.dtypes

species              object
culmen_length_mm    float64
sex                  object
dtype: object

Create a Pivot Table in Pandas

In [23]:
pd.pivot_table(penguins_data, values='culmen_length_mm', 
                                index='species',  
                                aggfunc=np.mean)

C:\Users\PC\AppData\Local\Temp\ipykernel_17660\1471692560.py:1: FutureWarning: The provided callable <function mean at 0x0000021835C20680> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(penguins_data, values='culmen_length_mm',

           culmen_length_mm
species
Adelie            38.791391
Chinstrap         48.833824
Gentoo            47.504878

2 categorical variables and 1 numerical variable

In [24]:
pd.pivot_table(penguins_data, values='culmen_length_mm', 
                                index='species', 
                                columns='sex', 
                                aggfunc=np.mean)

C:\Users\PC\AppData\Local\Temp\ipykernel_17660\1480685400.py:1: FutureWarning: The provided callable <function mean at 0x0000021835C20680> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(penguins_data, values='culmen_length_mm',

sex           FEMALE       MALE
species
Adelie     37.257534  40.390411
Chinstrap  46.573529  51.094118
Gentoo     45.563793  49.393548