Import relevant libraries

In [4]:
import numpy as np
import pandas as pd

Load dataset

In [5]:
marketing_data = pd.read_csv("marketing_campaign.csv")

Subset for relevant columns

In [6]:
marketing_data = marketing_data[['ID', 'Year_Birth', 'Education', 'Marital_Status',
                'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 
                'Recency','NumStorePurchases', 'NumWebVisitsMonth']]

Inspect first 5 rows and data types of the dataset

In [7]:
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5

In [8]:
marketing_data.dtypes

ID                     int64
Year_Birth             int64
Education             object
Marital_Status        object
Income               float64
Kidhome                int64
Teenhome               int64
Dt_Customer           object
Recency                int64
NumStorePurchases      int64
NumWebVisitsMonth      int64
dtype: object

Sort customers based on number of Store Purchases in descending order

In [ ]:
sorted_data = marketing_data.sort_values('NumStorePurchases', ascending=False)
# sorting data according to NumStorePurchases in decending order

In [11]:
sorted_data[['ID','NumStorePurchases']]

         ID  NumStorePurchases
2237   7270                 13
1325   9212                 13
499     466                 13
755    3870                 13
470    2021                 13
...     ...                ...
1653   4931                  0
981    3955                  0
2132  11181                  0
1524  11110                  0
9      5899                  0

[2240 rows x 2 columns]