Import relevant libraries

In [13]:
import numpy as np
import pandas as pd

Load dataset

In [14]:
marketing_data = pd.read_csv("marketing_campaign.csv")

Subset for relevant columns

In [15]:
marketing_data = marketing_data[['ID', 'Year_Birth', 'Education', 'Marital_Status',
                'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 
                'Recency','NumStorePurchases', 'NumWebVisitsMonth']]

Inspect first 5 rows and data types of the dataset

In [16]:
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5

In [17]:
marketing_data.dtypes

ID                     int64
Year_Birth             int64
Education             object
Marital_Status        object
Income               float64
Kidhome                int64
Teenhome               int64
Dt_Customer           object
Recency                int64
NumStorePurchases      int64
NumWebVisitsMonth      int64
dtype: object

Categorise the number of store purchases into high, moderate and low categories

In [18]:
marketing_data['bins'] = pd.cut(x=marketing_data['NumStorePurchases'], bins=[0,4,8,13],
                               labels = ['Low', 'Moderate', 'High'])
# manually defined bins, 0 to 4 -> low, 4 to 8 -> Moderate, 8 to 13 -> High
# work on NumStorePurchases

In [19]:
marketing_data[['NumStorePurchases','bins']].head()

   NumStorePurchases      bins
0                  4       Low
1                  2       Low
2                 10      High
3                  4       Low
4                  6  Moderate

In [20]:
marketing_data['bins'] = pd.cut(x=marketing_data['NumStorePurchases'], bins=3
                               ,labels = ['Low', 'Moderate', 'High'])
# automatically divide into equal-width bins
# suppose NumStorePurchases ranges from 0 to 13
# 0.0 to 4.33 -> Low, 4.33 to 8.66 -> Moderate, 8.66 to 13.0 -> High

In [21]:
marketing_data[['NumStorePurchases','bins']].head()

   NumStorePurchases      bins
0                  4       Low
1                  2       Low
2                 10      High
3                  4       Low
4                  6  Moderate